<div class="container">

    <div class="flex flex-row flex-wrap">

        <div class="w-1/4">
            <lib-button class="component" (click)="onButtonClick()">
                button component
            </lib-button>
        </div>

    </div>

</div>

<div class="container">
    <div class="block w-full">
        <div class="flex flex-row flex-wrap">

            <div class="w-1/4 px-8">
                <lib-card class="component">
                    <lib-card-image>
                        <img class="w-full h-auto" src="../assets/images/601.jpg" alt="test">
                    </lib-card-image>
                    <lib-card-content>
                        <lib-card-time slot="time">Veröffentlicht: 08.2020</lib-card-time>
                        <lib-card-title slot="title">Fiori Launchpad Designer</lib-card-title>
                        <lib-card-author slot="author">Max Mustermann</lib-card-author>
                    </lib-card-content>
                    <lib-card-footer class="mt-auto">
                        <lib-button (click)="onButtonClick()">
                            Read more
                        </lib-button>
                    </lib-card-footer>
                </lib-card>
            </div>

            <div class="w-1/4 px-8">
                <lib-card class="component">
                    <lib-card-body [overlay]="true">
                        <lib-card-image>
                            <img class="w-full h-auto" src="../assets/images/601.jpg" alt="test">
                        </lib-card-image>
                        <lib-card-content>
                            <lib-card-time slot="time">Veröffentlicht: 08.2020</lib-card-time>
                            <lib-card-title slot="title">Fiori Launchpad Designer</lib-card-title>
                            <lib-card-author slot="author">Max Mustermann</lib-card-author>
                        </lib-card-content>
                        <lib-card-overlay>
                            <lib-card-meta [type]="'book'" [typeTitle]="'Buch'" [duration]="'234 Seiten'" [level]="'Anfänger'"></lib-card-meta>
                            <lib-card-description>
                                <ul><li>Kacheln / Kachelkataloge / Kachelgruppen</li><li>Launchpad Designer</li><li>Kataloge finden</li><li>Kataloge kopieren und anpassen</li><li>Gruppen anlegen</li><li>Katalog und Gruppe einer Rolle zuweisen</li></ul>
                            </lib-card-description>
                            <div class="mt-auto mb-4">
                                <lib-button-link [url]="'#'" [title]="'Link zu #'" [label]="'Buch lesen'"></lib-button-link>
                            </div>
                            <div class="mt-auto">
                                <lib-button-link [url]="'#'" [title]="'Link zu #'" [label]="'Mehr erfahren'" [target]="'_blank'" [rel]="'nofollow'" [secondary]="true"></lib-button-link>
                            </div>
                        </lib-card-overlay>
                    </lib-card-body>
                    <lib-card-footer class="mt-auto">
                        <div class="flex flex-row flex-wrap items-center justify-between">
                            <lib-rating [rating]="4"></lib-rating>
                            <lib-button-favorite [favorite]="true"></lib-button-favorite>
                        </div>
                    </lib-card-footer>
                </lib-card>
            </div>

            <div class="w-1/4 px-8">
                <lib-card class="component">
                    <lib-card-image>
                        <img class="w-full h-auto" src="../assets/images/601.jpg" alt="test">
                    </lib-card-image>
                    <lib-card-content>
                        <lib-card-time slot="time">Veröffentlicht: 08.2020</lib-card-time>
                        <lib-card-title slot="title">Fiori Launchpad Designer</lib-card-title>
                        <lib-card-author slot="author">Max Mustermann</lib-card-author>
                    </lib-card-content>
                    <lib-card-footer class="mt-auto">
                        <div class="flex flex-row flex-wrap items-center justify-between">
                            <lib-rating [rating]="4.5"></lib-rating>
                            <lib-button-favorite [favorite]="false" (favoriteChange)="onFavoriteChange($event)"></lib-button-favorite>
                        </div>
                    </lib-card-footer>
                </lib-card>
            </div>

            <div class="w-1/4 px-8">
                <lib-card class="component">
                    <lib-card-body [overlay]="true">
                        <lib-card-image>
                            <img class="w-full h-auto" src="../assets/images/601.jpg" alt="test">
                        </lib-card-image>
                        <lib-card-content>
                            <lib-card-time slot="time">Veröffentlicht: 08.2020</lib-card-time>
                            <lib-card-title slot="title">Fiori Launchpad Designer</lib-card-title>
                            <lib-card-author slot="author">Max Mustermann</lib-card-author>
                        </lib-card-content>
                        <lib-card-overlay>
                            <lib-card-meta [type]="'video'" [typeTitle]="'Video'" [duration]="'00:24:30'" [level]="'Anfänger'"></lib-card-meta>
                            <lib-card-description>
                                <ul><li>Kacheln / Kachelkataloge / Kachelgruppen</li><li>Launchpad Designer</li><li>Kataloge finden</li><li>Kataloge kopieren und anpassen</li><li>Gruppen anlegen</li><li>Katalog und Gruppe einer Rolle zuweisen</li></ul>
                            </lib-card-description>
                            <div class="mt-auto mb-4">
                                <lib-button-link [url]="'#'" [title]="'Link zu #'" [label]="'Video ansehen'"></lib-button-link>
                            </div>
                            <div class="mt-auto">
                                <lib-button-link [url]="'#'" [title]="'Link zu #'" [label]="'Mehr erfahren'" [target]="'_blank'" [rel]="'nofollow'" [secondary]="true"></lib-button-link>
                            </div>
                        </lib-card-overlay>
                    </lib-card-body>
                    <lib-card-footer class="mt-auto">
                        <div class="flex flex-row flex-wrap items-center justify-between">
                            <lib-rating [rating]="4"></lib-rating>
                            <lib-button-favorite [favorite]="true"></lib-button-favorite>
                        </div>
                    </lib-card-footer>
                </lib-card>
            </div>

        </div>
    </div>

</div>

<div class="container">
    <div class="block w-full">
        <div class="flex flex-row flex-wrap">

            <div class="w-1/2 px-8">
                <lib-card>
                    <lib-author [name]="'Johannes Gerbershagen'" [position]="'Freier Autor'" [text]="'Johannes Gerbershagen hat an der Hochschule Ulm Produktionstechnik und Organisation studiert, ein eher maschinenbaulastiges Studium. Seine ersten Erfahrungen mit ABAP hat er 2013 im Rahmen einer Werkstudententätigkeit gewonnen. Seitdem ist er als Entwickler für die Automobilzulieferindustrie tätig. Nebenberuflich beschäftigt er sich als Autor sowie als Open-Source-Entwickler.'" [image]="'../assets/images/216.jpg'"></lib-author>
                </lib-card>
            </div>

            <div class="w-1/2 px-8">
                <lib-card>
                    <lib-author [name]="'Johannes Gerbershagen'" [position]="'Freier Autor'" [text]="'Johannes Gerbershagen hat an der Hochschule Ulm Produktionstechnik und Organisation studiert, ein eher maschinenbaulastiges Studium. Seine ersten Erfahrungen mit ABAP hat er 2013 im Rahmen einer Werkstudententätigkeit gewonnen. Seitdem ist er als Entwickler für die Automobilzulieferindustrie tätig. Nebenberuflich beschäftigt er sich als Autor sowie als Open-Source-Entwickler.'"></lib-author>
                </lib-card>
            </div>

        </div>

    </div>
</div>

<div class="container">
    <div class="block w-full">
        <div class="flex flex-row flex-wrap">

            <div class="w-1/2 px-8">
                <lib-card>
                    <lib-review>
                        <lib-rating [rating]="5" slot="rating"></lib-rating>
                        <lib-review-title slot="title">Ein super Buch zum Einstieg</lib-review-title>
                        <lib-review-description slot="description">
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                        </lib-review-description>
                        <lib-review-author slot="author">
                            Max Mustermann
                        </lib-review-author>
                    </lib-review>
                </lib-card>
            </div>

            <div class="w-1/2 px-8">
                <lib-card>
                </lib-card>
            </div>

        </div>

    </div>
</div>

<div class="container">
    <div class="block w-full">
        <div class="flex flex-row flex-wrap">

            <div class="w-1/2 px-8">
                <lib-card>
                    <lib-testimonial [name]="'Steve Biskie'" [position]="'Managing Director, High Water Advisors'" [image]="'../assets/images/216.jpg'" [text]="'The Espresso Tutorials SAP eBook Library subscription price is hard to pass up! It‘s a low-cost way to stay informed on a wide range of SAP topics. I just read SAP ERP User Guide —Tips to Increase Productivity. Even with 25 years of experience, I was able to learn a few new tips.'"></lib-testimonial>
                </lib-card>
            </div>

            <div class="w-1/2 px-8">
                <lib-card>
                </lib-card>
            </div>

        </div>

    </div>
</div>
